<!DOCTYPE html>
{% extends "ChessChannelsApp/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{title}}</title>

    {% block styles %}

    <link href="{% static 'ChessChannelsApp/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'ChessChannelsApp/css/play_styles.css' %}" rel="stylesheet">

    <style>
        .chat_div_class{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .all_chat_messages{
            overflow-y: auto;
            height: 190px;
            margin: 10px;
            width: 500px;

        }

        .input_chat_area{
            min-width: 400px;
            min-height: 36px;
            padding: 5px 10px;
            border-radius: 10px;
            border: 2px solid yellow;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            font-size: 17px;
            color: #222831;

        }

        .input_chat_area:focus{
            border-color: #e76e36;
            outline: none;
        }

        .input_chat_area::placeholder{
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            font-size: 17px;
            vertical-align: center;

        }
    </style>

    {% endblock styles %}
</head>
<body>
    {% block main_content %}
    <h1 style="color:white;">
        Playing on number {{game.token}}
    </h1>

    <div style="color:white;">
        white_pieces_player: {{game.white_pieces_player}}
        <span id="white_pieces_player_connection_status">
            null
            <!--for debugging-->
        </span>
    </div>

    <div style="color:white;">
        black_pieces_player: {{game.black_pieces_player}}
        <span id="black_pieces_player_connection_status">
            null
            <!--for debugging-->
        </span>
    </div>

    <div style="color:white;">
        the number of viewers:
        <span id="number_of_viewers">0</span>
    </div>


    <div class="flex_container">



        <form id="chess_move_form" class="flex_element">
            <div style="color:white">chess moves</div>
            <input type="text" name="message"/>

        </form>

    </div>



    <div class="chat_div_class">

        <div>

        <div id="chat_messages"  class="all_chat_messages">

        </div>

        <div style="display: flex; justify-content: center; padding: 10px;">

            <form id="chat_form" style="padding: 10px;">
<!--                <div style="color:white">chat messages</div>-->
                <input class="input_chat_area" placeholder="write a message" autocomplete="off"
                       type="text" name="message"/>

            </form>

        </div>

        </div>


    </div>

    <div id="root">

    </div>
    <div id="app"></div>
    {% endblock main_content %}


    {% block after_body_scripts %}
    <script>
        let authenticated = ("{{request.user.is_authenticated}}" === "True")

        if (!authenticated){
            window.location.replace("{% url 'login' %}");  // redirect to login page
        }

        let game_token = "{{game.token}}";

        let white_pieces_player = "{{game.white_pieces_player}}";
        let black_pieces_player = "{{game.black_pieces_player}}";


        let white_pieces_player_connected = 0;
        let black_pieces_player_connected = 0;
        let current_user_connected = null;

        let number_of_viewers = 0;
        let span_number_of_viewers = document.getElementById('number_of_viewers');

        const DynamicNumberOfChatMessages = 5;
        let chat_messages_array = [];
        let chat_messages_div = document.getElementById('chat_messages');
        let messages_in_scroll = 0;


        let update_number_of_viewers = setInterval(
            function (){
                span_number_of_viewers = document.getElementById('number_of_viewers');
                span_number_of_viewers.innerText =
                    number_of_viewers - white_pieces_player_connected - black_pieces_player_connected;
            }, 2000
        );


        chat_messages_div.addEventListener('scroll', function () {
            setTimeout( function () {
                if (chat_messages_div.scrollTop === 0) {
                    chatSocket.send(JSON.stringify({
                        'type': 'dynamic_loading',
                        'token': game_token,
                    }));
                }
            }, 1000) // for debugging
        });

        function dynamic_loading_chat_message(){

        }
        function write_chat_message_into_tag(message, tag){
            let div_tag = document.createElement("div");
            let p_tag = document.createElement("p");
            p_tag.innerHTML = message;
            p_tag.style.color = 'white';
            div_tag.append(p_tag);
            tag.prepend(div_tag);
            tag.scrollTo(0, tag.scrollHeight);
            console.log(`tag height: ${tag.scrollHeight}, div_tag height: ${div_tag.offsetHeight}`);
            return div_tag.offsetHeight + 5;  // for better vision of chat message
        }


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/socket-server/play/'
            + "{{game.token}}"
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // console.log(`onmessage_print ${data.message}`);

            if (data.type === 'chat'){
                let messages = document.getElementById('chat_messages');

                let div_tag = document.createElement("div");

                let p_tag = document.createElement("p");
                p_tag.innerHTML = `${data.username}: ${data.message}`;
                p_tag.style.color = 'white';
                // let p_tag_time = document.createElement("p");
                // p_tag_time.innerHTML = `now: ${data.time}  received back: ${new Date().toLocaleTimeString()}`;
                // p_tag_time.style.color = 'white';

                div_tag.append(p_tag);
                // div_tag.append(p_tag_time);
                messages.append(div_tag);

                messages.scrollTo(0, messages.scrollHeight);
            }

            if (data.type === 'chess_move'){
                let messages = document.getElementById('chess_move_messages');

                let div_tag = document.createElement("div")
                let p_tag = document.createElement("p");
                p_tag.innerHTML = `${data.username}: ${data.message}`;
                p_tag.style.color = 'white';
                let p_tag_time = document.createElement("p");
                p_tag_time.innerHTML = `now: ${data.time}  received back: ${new Date().toLocaleTimeString()}`;
                p_tag_time.style.color = 'white';
                div_tag.append(p_tag);
                div_tag.append(p_tag_time);
                messages.append(div_tag);
            }

            if (data.type === 'connection'){
                let username = data.username;
                white_pieces_player_connected = data.white_pieces_player_connected;
                black_pieces_player_connected = data.black_pieces_player_connected;


                console.log(data);

                if (username === "{{user.username}}"){
                    current_user_connected = true;
                }


                white_span_connection_status = document.getElementById('white_pieces_player_connection_status');
                black_span_connection_status = document.getElementById('black_pieces_player_connection_status');

                if (white_pieces_player_connected === 1){
                    white_span_connection_status.innerText = 'online';
                }else{
                    white_span_connection_status.innerText = 'offline';
                }

                if (black_pieces_player_connected === 1){
                    black_span_connection_status.innerText = 'online';
                }else{
                    black_span_connection_status.innerText = 'offline';
                }


                number_of_viewers = data.number_of_viewers;



            }

            if (data.type === 'loaded_chat_message'){
                let username = data.username;
                let message = data.message;
                console.log(`${username}: ${message}`);
                // data.id printing is temporary
                let height = write_chat_message_into_tag(`${data.id} ${username}: ${message}`, chat_messages_div);
                chat_messages_div.scrollTo(0, height);
            }

        };

        chatSocket.onerror = function (e){
            alert(`${e}`);
        }



        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        let chat_form = document.getElementById('chat_form');
        chat_form.addEventListener('submit', function (e){
            e.preventDefault();
            let message = e.target.message.value;
            let current_time_hms = new Date().toLocaleTimeString();
            if (authenticated) {

                if (current_user_connected) {
                    chatSocket.send(JSON.stringify({
                        'type': 'chat',
                        'message': message,
                        'username': "{{user.username}}",
                        'time': current_time_hms,
                        'token': game_token,
                    }));

                }
            }else{
                window.location.replace("{% url 'login' %}");
            }
            chat_form.reset();
        })

        let chess_move_form = document.getElementById('chess_move_form');
        chess_move_form.addEventListener('submit', function (e){
            e.preventDefault();
            let message = e.target.message.value;
            let current_time_hms = new Date().toLocaleTimeString();
            if (authenticated) {
                let username = "{{user.username}}";
                console.log("{{game.white_pieces_player}}");
                console.log("{{game.black_pieces_player}}");
                if (username === "{{game.white_pieces_player}}" || username === "{{game.black_pieces_player}}") {
                    chatSocket.send(JSON.stringify({
                        'type': 'chess_move',
                        'message': message,
                        'username': "{{user.username}}",
                        'time': current_time_hms,
                        'token': game_token,
                    }));
                }
            }

            chess_move_form.reset();
        })


        // if (authenticated){
        //     console.log("{{user.username}}");
        //     console.log("{{user.id}}");
        //     console.log("{{user.password}}");
        // }else{
        //     // redirect to login page
        //     window.location.replace("{% url 'login' %}");
        // }
    </script>


<!--    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>-->
<!--    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>-->
<!--    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>-->



    {% endblock after_body_scripts %}

</body>
</html>
