<!DOCTYPE html>
{% extends "ChessChannelsApp/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {% block main_content %}
    <div id="checkmate_in_1_div">


    </div>
    <div style="color: white">Ratings</div>
    <div>Text</div>
    {% endblock main_content %}


    {% block after_body_scripts %}
    <script>
        let title = "{{title}}";
        console.log(title);
    </script>

    <script src="{% static 'ChessChannelsApp/js/puzzles.js' %}"></script>


    {% endblock after_body_scripts %}
</body>
</html>